.form {
  display: flex;
  gap: 14px;
  width: 100%;
  min-width: 360px;
}

.input {
  flex: 1;
  padding: 10px;
  width: 620px;
  border: none;
  background: #ededed;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
}
