.button {
  flex: 0;
  min-width: 100px;
  max-width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: 300;
  font-size: 16px;
  background: #62ff74;
  cursor: pointer;
}

.disabled {
  background: #ededed;
}

.large {
  width: 100%;
}

.small {
  width: 100px;
}
